@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
.center {
    text-align: center;
}
.login-header {
    /* height: 150px; */
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.logo-img {
    width: 70px;
    height: auto;
    float: left;
}
.company-name {
    color: #99332f;
    text-decoration: underline;
}
.italic{
    font-style:italic;
}

.app-title {
    padding: 10px 20px;
}
.login-title{
    padding-bottom: 15px;
    color: #99332f;
}

.navbar-brand {
    padding-top: 0px;
    padding-bottom: 10px;
}
img.logo-img1 {
    height: 40px;
    width: 40px;
}
.dropdown-menu {
    min-width: auto !important;
}

.multiplefileUpload, .fileUpload {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
}

/* Bordered form */
.login-form {
    border: 2px solid #f1f1f1;
    padding: 0px 10px 10px 10px;
    background: #fdfdfd;
    -webkit-box-shadow: 5px 5px 5px 1px rgba(219,219,219,1);
-moz-box-shadow: 5px 5px 5px 1px rgba(219,219,219,1);
box-shadow: 5px 5px 5px 1px rgba(219,219,219,1);
  }
  
  /* Full-width inputs */
  .login-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .footer {
    border-top: 1px solid #ccc;
    margin-top: 100px;
    text-align: center;
    }
    .mandatory {
        color: red;
    }
  /* Set a style for all buttons */
  .login-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  .login-btn:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }